<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "org.concord.lob"
    versionCode = "1"
    version     = "0.0.6" >

<!-- versionCode is optional and Android only -->

  <name>Land of Bump</name>

  <description>
      The Land of Bump - An Interactive Exploring Hot and Cold Particles
  </description>

  <author href="https://concord.org" email="chart@concord.org">
      The Concord Consortium
  </author>

  <platform name="ios">
    <!-- iPhone 6 / 6+ -->
    <icon src="icons/iOS/Icon-180.png" platform="ios" width="180" height="180" />

    <!-- iPhone / iPod Touch  -->
    <icon src="icons/iOS/Icon-60.png" platform="ios" width="60" height="60" />
    <icon src="icons/iOS/Icon-120.png" platform="ios" width="120" height="120" />

    <!-- iPad -->
    <icon src="icons/iOS/Icon-76.png" platform="ios" width="76" height="76" />
    <icon src="icons/iOS/Icon-152.png" platform="ios" width="152" height="152" />
    <icon src="icons/iOS/Icon-167.png" platform="ios" width="167" height="167" />

    <!-- Settings Icon -->
    <icon src="icons/iOS/Icon-29.png" platform="ios" width="29" height="29" />
    <icon src="icons/iOS/Icon-58.png" platform="ios" width="58" height="58" />
    <icon src="icons/iOS/Icon-87.png" platform="ios" width="87" height="87" />

    <!-- Spotlight Icon -->
    <icon src="icons/iOS/Icon-40.png" platform="ios" width="40" height="40" />
    <icon src="icons/iOS/Icon-80.png" platform="ios" width="80" height="80" />
    <icon src="icons/iOS/Icon-120.png" platform="ios" width="120" height="120" />
    <splash src="splash.png" />
  </platform>
  <platform name="android">
    <icon src="android-icon-192x192.png" />
    <splash src="splash-screen.png" />
  </platform>
  <preference name="AllowInlineMediaPlayback" value="true" />
  <content src="index.html" />
  <access origin="*" />
</widget>